<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-end">
        <div class=" row text-md-end">
            <div class="col-md-8"></div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5 class="text-uppercase mb-4 text-success">Hospital</h5>
                <p>Angelical Patients Savoiurs</p>
                <p>HIC</p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5 class="text-uppercase mb-4 text-success">Services</h5>
                <p>Consultations</p>
                <p>Emergency consultations</p>
            </div>
        </div>
        <hr class="mb-4 text-success">
    </div>
</footer>   