{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'libs/awesome_icons/font-awesome.js' %}"></script>
    <link rel="stylesheet" href="{% static 'homepage/css/magic-nav.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/im_carusel.css' %}">
{% endblock %}
{% block navbar %}
    {% include 'homepage/magic-nav.html' %}
{% endblock %}
{% block container %}
    {% include 'homepage/carousel.html' %}
    <hr class="mb-4">
    {% include 'homepage/container.html' %}
{% endblock %}