    {% load static %}
    <div class="navigation nav-item">
        <ul>
            <li class="list  " id="home">
                <a href="{% url 'home' %}">
                    <span class="icon">
                       <i class="fas fa-clinic-medical fa-fw"></i>
                    </span>
                    <span class="text">Lobby</span>
                </a>
            </li>
    
            <li class="list" id="apps">
                <a href="#">
                    <span class="icon">
                   <i class="fas fa-hand-holding-medical fa-fw" aria-hidden="true"></i>
                    </span>
                    <span class="text">Consultations</span>
                </a>
            </li>
    
            <li class="list " id="pro">
                <a href="#">
                    <span class="icon">
                    <i class="fa fa-user-circle-o fa-lg fa-fw" aria-hidden="true"></i>
                    </span>
                    <span class="text">Profile</span>
                </a>
            </li>

            <li class="list " id="login">
                <a href="#">
                    <span class="icon">
                    <i class="fa fa-sign-in fa-lg fa-fw" aria-hidden="true"></i>
                    </span>
                    <span class="text">Log-In</span>
                </a>
            </li>
            
            <li class="list " id="logout">
                <a href="#">
                    <span class="icon">
                    <i class="fa fa-sign-out fa-lg fa-fw" aria-hidden="true"></i>
                    </span>
                    <span class="text">Log-Out</span>
                </a>
            </li>
    
            <div class="indicador"></div>
            <div class="indicador1" id="aa"></div>
        </ul>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h4 class="text-white justify-content-end">Welcome to the system dear <strong class="text-success">User</strong></h4>
    </div>

