    <div class="col-md-4 navigation nav-item">
        <ul>
            <li class="list  " id="home">
                <a href="{% url 'home' %}">
                    <span class="icon">
                       <i class="fas fa-clinic-medical fa-fw"></i>
                    </span>
                    <span class="text">Lobby</span>
                </a>
            </li>
    
            <li class="list" id="apps">
                <a href="#">
                    <span class="icon">
                   <i class="fas fa-hand-holding-medical fa-fw" aria-hidden="true"></i>
                    </span>
                    <span class="text">Consultations</span>
                </a>
            </li>
    
            <li class="list " id="pro">
                <a href="#">
                    <span class="icon">
                    <i class="fas fa-user-md fa-lg fa-fw" aria-hidden="true"></i>
                    </span>
                    <span class="text">Profile</span>
                </a>
            </li>
    
            <div class="indicador"></div>
            <div class="indicador1" id="aa"></div>
        </ul>
    </div>


