{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% if title %}
            {{ title }}
        {% else %}
        Hospital On Call M-System(Django 5.1.1)
        {% endif %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/ico.png' %}">

    <link rel="stylesheet" href="{% static 'homepage/css/body.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/magic-nav.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/im_carusel.css' %}">
    <link rel="stylesheet" href="{% static 'libs/bootstrap/bootstrap.min.css' %}">
</head>

<body class="bg-dark">

    <div class="p-4 bg-success text-white text-center">
        <h1>Hospital On-Call Management System</h1>
        <span class="mx-2">
            <i class="fas fa-dove fa-lg fa-fw "  style="color: goldenrod;"></i>
            <i class="fas fa-cross fa-lg fa-fw " style="color: goldenrod;"></i>
            <i class="fas fa-heart fa-lg fa-fw " style="color: goldenrod;"></i>
        </span>
        <p><br> PWeb Django Course Demostration</p>
    </div>
 
    <!--Dynamic Navbar-->
    {% block navbar %}
    {% endblock %}

    <!--Animated welcome message-->
    {% block welcomeM %}
    {% endblock %}

    <!--Carousel-->
    {% block carousel %}
    {% endblock %}
    
    <!--Main content-->
    <main role="main" class="container">
        <div class="row">
          <div class="col-md-12 my-3">
            <!--Custom logic for messages-->
            {% if messages %} {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              <!--context var-->
              {{ message }}
            </div>
            {% endfor %} {% endif %} 
            {% block content %}
            {% endblock %}
          </div>
        </div>
    </main>

    <!--Footer-->
    {% block footer %}
    {% endblock %}

</body>
<script src="{% static 'libs/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'libs/awesome_icons/font-awesome.js' %}"></script>
<script src="{% static 'libs/jquery/jquery.slim.min.js' %}"></script>
{% block script %}
<script>
    document.getElementById('home').classList.add('active');
</script>
{% endblock %}

</html>