{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hospital On Call M-System(Django 5.1.1)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/ico.png' %}">

    <link rel="stylesheet" href="{% static 'homepage/css/body.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/magic-nav.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/im_carusel.css' %}">
    <link rel="stylesheet" href="{% static 'libs/bootstrap/bootstrap.min.css' %}">
</head>

<body class="bg-dark">

    <div class="p-4 bg-success text-white text-center">
        <h1>Hospital On-Call Managament System</h1>
        <p>PWeb Course Lab Demostration</p>
    </div>

    <nav class="navbar bg-dark navbar-dark ">
        {% block navbar %}
        {% endblock %}
    </nav>

    {% block container %}
    {% endblock %}


    {% block footer %}
    {% endblock %}

</body>
<script src="{% static 'libs/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'libs/awesome_icons/font-awesome.js' %}"></script>
<script src="{% static 'libs/jquery/jquery.slim.min.js' %}"></script>
{% block script %}
<script>
    document.getElementById('home').classList.add('active');
</script>
{% endblock %}

</html>