{% load static %}
<!--Custom modal form for multiple user removal-->
<div class="modal-body" id="deleteMultipleUserConfirm">
        <form id="deleteMultipleUserForm" action="{% url 'delete_users' %}" method="post">
            {% csrf_token %}
            <!-- Hidden input to store the selected user IDs separated by comma -->
             {# {% if not forloop.last %},{% endif %}: This ensures that a comma is only added between user IDs, and not at the end of the list #}
             <input type="hidden" name="user_ids" value="{{user_ids}}">
                <p>
                    <i class="fa fa-exclamation-triangle fa-lg fa-fw text-warning"></i>
                    Are you sure you want to delete the following users🤔? 
                </p>
                <div class="text-warning">
                    <ul>                    
                        {% for user in users %}
                            <li>User: <span class="text-danger">{{ user.username }}</span> with ID: <span class="text-danger">{{ user.id }}</span></li>
                        {% endfor %}
                    </ul>
                </div>

            <div class="modal-footer">
                <input type="button" class="btn btn-secondary" data-bs-dismiss="modal" value="Cancel">
                <input type="submit" class="btn btn-danger"  value="Delete">
            </div>
        </form>
</div>