{% extends "base/base.html" %}
{% load static %}

{% block navbar %}
{% include 'homepage/magic-nav.html' %}
{% endblock %}

{% block content %}
<div class="row g-3 text-white">
    <div class="container-xl">
        <div class="row">
                        <div class="col-sm-4">
                            <h2>User's <b>Management</b></h2>
                        </div>
                        <div class="col-sm-4">
                            <!-- Search Form -->
                            <form class="d-flex" method="get" action="">
                                <input class="form-control me-2" type="text" name="search" placeholder="Search by username" value="{{ search_query }}">
                                <button class="btn btn-outline-success" type="submit"> <i class="fas fa-search fa-lg fa-fw" data-toggle="tooltip" title="Search"></i></button>
                                
                                <!-- Include other filters as hidden inputs to keep state during search -->
                                <!-- Retain valid user type selection -->
                                {% if user_type %}
                                    <input type="hidden" name="user_type" value="{{ user_type }}">
                                {% endif %}
                                <input type="hidden" name="sort" value="{{ request.GET.sort }}">
                                <input type="hidden" name="order" value="{{ order }}">
                            </form>
                        </div>
                        <div class="col-sm-2">
                            <form class="d-flex" method="get" action="">
                                <select class="form-select" name="user_type" onchange="this.form.submit()">
                                    <option value="">All Users</option>
                                    <option value="doctor" {% if user_type == 'doctor' %}selected{% endif %}>Doctors</option>
                                    <option value="patient" {% if user_type == 'patient' %}selected{% endif %}>Patients</option>
                                </select>
                            </form>
                        </div>
                        <div class="col-sm-2 justify-content-end">
                            <!-- Button for mass users delete, initially hidden -->
                            <button id="delete-button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteMultipleUserModal" onclick="loadDeleteMultipleUserConfirm()"  style="display: none;">
                                <i class="fas fa-user-times fa-lg fa-fw" data-toggle="tooltip" title="Delete Selected Users"></i>
                            </button>
                            <a href="#" class="btn btn-success"><i class="fas fa-user-plus fa-lg fa-fw" data-toggle="tooltip" title="Add New User"></i></a>
                            <a href="#" class="btn btn-success"><i class="fas fa-file-alt fa-lg fa-fw" data-toggle="tooltip" title="Export to Excel"></i></a>						
                        </div>
        </div>
        <div class="row py-3">
            <div class="col-md-3">
                <h4>Select All</h4>
                <!-- Checkbox parent -->
                <span class="custom-checkbox">
                    <input type="checkbox" id="selectAll"  data-toggle="tooltip" title="selectAll">
                </span>
            </div>
            <div class="col-md-3 fw-bold">
                <h4>Sort by Username</h4>
                {% if sort_by == 'username' and order == 'asc' %}
                    <a class="text-success text-decoration-none" href="?sort=username&order=desc&search={{ search_query }}{% if user_type %}&user_type={{ user_type }}{% endif %}">Username ▲</a>
                {% elif sort_by == 'username' and order == 'desc' %}
                    <a class="text-success text-decoration-none" href="?sort=username&order=asc&search={{ search_query }}{% if user_type %}&user_type={{ user_type }}{% endif %}">Username ▼</a>
                {% else %}
                    <a class="text-success text-decoration-none" href="?sort=username&order=asc&search={{ search_query }}{% if user_type %}&user_type={{ user_type }}{% endif %}">Username</a>
                {% endif %}
            </div>
            <div class="col-md-3 fw-bold">
                <h4>Sort by Birthdate</h4>
                {% if sort_by == 'birthdate' and order == 'asc' %}
                    <a class="text-success text-decoration-none" href="?sort=birthdate&order=desc&search={{ search_query }}{% if user_type %}&user_type={{ user_type }}{% endif %}">Birthdate ▲</a>
                {% elif sort_by == 'birthdate' and order == 'desc' %}
                    <a class="text-success text-decoration-none" href="?sort=birthdate&order=asc&search={{ search_query }}{% if user_type %}&user_type={{ user_type }}{% endif %}">Birthdate ▼</a>
                {% else %}
                    <a class="text-success text-decoration-none" href="?sort=birthdate&order=asc&search={{ search_query }}{% if user_type %}&user_type={{ user_type }}{% endif %}">Birthdate</a>
                {% endif %}
            </div>
            <div class="col-md-3 fw-bold">
                <h4>Sort by Join Date</h4>
                {% if sort_by == 'date_joined' and order == 'asc' %}
                    <a class="text-success text-decoration-none" href="?sort=date_joined&order=desc&search={{ search_query }}{% if user_type %}&user_type={{ user_type }}{% endif %}">Date Joined ▲</a>
                {% elif sort_by == 'date_joined' and order == 'desc' %}
                    <a class="text-success text-decoration-none" href="?sort=date_joined&order=asc&search={{ search_query }}{% if user_type %}&user_type={{ user_type }}{% endif %}">Date Joined ▼</a>
                {% else %}
                    <a class="text-success text-decoration-none" href="?sort=date_joined&order=asc&search={{ search_query }}{% if user_type %}&user_type={{ user_type }}{% endif %}">Date Joined</a>
                {% endif %}
            </div>
        </div>
        <!--Card Structure-->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for user in users %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body bg-dark d-flex align-items-center">
                        <!-- Checkbox childs -->
                        <span class="custom-checkbox position-absolute top-0 start-0">
                            <input type="checkbox" class="user-checkbox" value="{{ user.user.id }}">
                        </span>
                        <div class="d-grid px-2 me-2">
                            <img src="{% if user.user.profile_picture %}{{ user.user.profile_picture.url }}{% else %}{% static 'img/default_profile_picture.png' %}{% endif %}" 
                            alt="{{ user.user.get_full_name }} profile picture" 
                            class="rounded-circle" style="width: 60px; height: 60px; object-fit: cover;">
                            <div class="d-inline-flex p-2 gap-1">
                                <a class="edit" data-bs-toggle="modal" data-bs-target="#editUserModal" onclick="loadUserDetails('{{user.user.id}}')"><i class="fas fa-user-edit fa-md fa-fw text-success" data-toggle="tooltip" title="Edit"></i></a>
                                <a class="delete" data-bs-toggle="modal" data-bs-target="#deleteUserModal" onclick="loadDeleteUserConfirm('{{user.user.id}}')" ><i class="fas fa-user-times fa-md fa-fw text-danger" data-toggle="tooltip" title="Delete"></i></a>
                            </div>
                        </div>
                        <div class="text-white">
                            <h5 class="card-title">{{user.user.username}}</h5>
                            <p class="card-text mb-1"><span class="text-info fw-bold">Email: </span><span class="text-white">{{user.user.email}}</span></p>
                            <p class="card-text mb-1"><span class="text-info fw-bold">Gender: </span><span class="text-white">{{user.user.gender}}</span></p>
                            <p class="card-text mb-1"><span class="text-info fw-bold">Birthdate: </span><span class="text-white">{{user.user.birthdate}}</span></p>
                            <p class="card-text mb-1"><span class="text-info fw-bold">Age: </span><span class="text-white">{{user.age}}</span></p>
                            <p class="card-text mb-1"><span class="text-info fw-bold">Joined: </span><span class="text-white">{{user.user.date_joined}}</span></p>
                            <p class="card-text mb-1"><span class="text-info fw-bold">Rol: </span><span class="text-warning">{{user.user.user_type.capitalize}}</span></p>
                            <p class="card-text mb-1"><span class="text-info fw-bold">Active: </span><span class="text-white">{% if user.user.is_active%}<span class="status text-success fw-bold">Yes</span>{% else %}<span class="status text-danger fw-bold">No</span>{% endif %}</span></p>
                            </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="w-100">
                <span class="d-block p-2 bg-warning text-center text-danger"><strong>No users were resolved!!!</strong></span>
            </div>
            {% endfor %}
        </div>
        <!-- Pagination controls -->
        <div class="pagination justify-content-center py-2">
            <span class="page-link">
                {% if users.has_previous %}
                    <a href="?page=1&user_type={{ user_type }}">First</a>
                    <a href="?page={{ users.previous_page_number }}&user_type={{ user_type }}">Previous</a>
                {% endif %}
                <span>Page {{ users.number }} of {{ users.paginator.num_pages }}</span>
                {% if users.has_next %}
                    <a href="?page={{ users.next_page_number }}&user_type={{ user_type }}">Next</a>
                    <a href="?page={{ users.paginator.num_pages }}&user_type={{ user_type }}">Last</a>
                {% endif %}
            </span>
        </div>
    </div>

    <!-- Edit User Modal HTML -->
    <div id="editUserModal" class="modal fade" tabindex="-1" aria-labelledby="editUserModal">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h4 class="modal-title text-success">Edit User</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                {% block editUserModal %}
                {% include 'users/update_user_form.html' %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- Delete User Modal HTML -->
    <div id="deleteUserModal" class="modal fade" tabindex="-1" aria-labelledby="deleteUserModalLabel">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h4 class="modal-title text-warning">Delete User</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                {% block deleteUserModal %}
                {% include 'users/delete_user_confirm.html' %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!--Massive User Modal HTML -->
    <div class="modal fade" id="deleteMultipleUserModal" tabindex="-1" aria-labelledby="deleteMUModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h4 class="modal-title text-warning" id="deleteMUModalLabel">Confirm User Mass Removal</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {% block deleteMultipleUserModal %}
            {% include 'users/delete_users_confirm.html' %}
            {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
    {% include 'homepage/footer.html' %}
{% endblock %}

{% block script %}
<script>
    /*Active users nav item on load view*/
    document.getElementById('users').classList.add('active');
</script>

<script>
    /*Used for load user details inside modal*/
    function loadUserDetails(userId) {
        $.ajax({
            url: '/users/'+ userId +'/edit/',
            type: 'GET',
            success: function(data) {
                $('#userDetails').html(data);  // Insert user details into editUserModal
            },
            error: function() {
                alert('Error loading user details');
            }
        });
    }

    // Function to load user delete confirmation into the modal
    function loadDeleteUserConfirm(userId) {
        $.ajax({
            url: '/users/'+ userId +'/delete/',
            type: 'GET',
            success: function(data) {
                $('#deleteUserConfirm').html(data);  // Insert the confirmation message into deleteUserModal
            },
            error: function() {
                alert('Error loading delete confirmation');
            }
        });
    }
    
    // Function to gather selected user IDs and load confirmation modal
    function loadDeleteMultipleUserConfirm(){
        let selectedUsersIDs = [];
        // Gather chequed checkboxes with class 'user-checkbox' for selecting users
        $('input.user-checkbox:checked').each(function(){
            selectedUsersIDs.push($(this).val());
        })

        if(selectedUsersIDs.length>0){
            $.ajax({
                url:'/users/delete-users/confirm',  // URL for the confirmation view
                type: 'GET',
                data:{user_ids:selectedUsersIDs.join(',')},  // Send selected user IDs
                success: function(data){
                    $('#deleteMultipleUserConfirm').html(data)  // Insert confirmation message into the modal
                },
                error: function(){
                    alert('Error loading delete confirmation.');
                }
            });
        } else {
            alert('Please, select at least one user to delete.')
        }
    }
</script>

<script>
    /*Mass user removal behaviour*/
    $(document).ready(function () {

        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();

        const selectAllCheckBox = $("#selectAll");
        const deleteBtn = $('#delete-button');
        let checkbox_childs = $('.user-checkbox');

        // Function to toggle delete button visibility
        $.fn.toggleDeleteButton = function(){
            let checkedCount = $('.user-checkbox:checked').length;
            deleteBtn.toggle(checkedCount>0)
        }

        // Select/Deselect child checkboxes inside the table
        selectAllCheckBox.click(function () {
           checkbox_childs.prop('checked', this.checked);
           $.fn.toggleDeleteButton();
        });

        // If one of the child checkboxes get deselected, deselect the parent as well 
        checkbox_childs.change(function () {
            if(!this.checked)
                selectAllCheckBox.prop('checked',false);
            $.fn.toggleDeleteButton();
        });
    });
</script>
{% endblock script %}