{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block navbar %}
    {% include 'homepage/magic-nav.html' %}
 {% endblock %}


{% block content %}
    <div class="row g-3 text-white">
        
        <h1>
            {% if user.is_doctor %}
                Doctor's {{user.first_name}} Profile
            {% else %}
                Patient's {{user.first_name}} Profile
            {% endif %}
        </h1>
        <div class="col-sm-6">
            <form method="post">
                {% csrf_token %} {{ form|crispy }}
                <button type="submit" class="btn btn-success">Update Profile</button>
            </form>
        </div>
        <div class="col-sm px-5">
            <h4>Picture Profile</h4>
        </div>
        <div class="col-sm px-5">
            <h4>Details</h4>
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Firstname:</strong> {{ user.first_name }}</p>
            <p><strong>Lastname:</strong> {{ user.last_name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Role:</strong> {{ user.user_type.capitalize }}</p>
            <p><strong>Birthdate:</strong> {{ user.birthdate }}</p>
            <p><strong>Age:</strong> {{ age }}</p>
            <p><strong>Gender:</strong> {{ user.gender }}</p>
            {% if user.is_doctor %}
            <p><strong>Specialty:</strong> {{ doctor.specialty }}</p>
            <p><strong>Experience:</strong> {{ doctor.experience }}</p>
            <!--<p><strong>Address:</strong> {{ user.address }}</p>-->
            {% else %}
            <p><strong>Temperature:</strong> {{ patient.temperature }}</p>
            <p><strong>Pulse:</strong> {{ patient.pulse }}</p>
            <p><strong>Systolic Pressure:</strong> {{ patient.systolic_pressure }}</p>
            <p><strong>Diastolic Pressure:</strong> {{ patient.diastolic_pressure }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    document.getElementById('profile').classList.add('active');
</script>
{% endblock %}