{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container my-5">
  <h2>Register</h2>
  <form method="post" autocomplete="off">
    <!--Avoid or mitigate CSRF attacks-->
    {% csrf_token %} 
    <!--crispy forms styles instance-->
    {{form|crispy}}
    <div>
      <strong>Password Strength:</strong>
      <div id="password-strength">Please, enter a password.</div>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 8px">
      Register
    </button>
  </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const passInput = document.getElementById("password-input");
    const passStrengthField = document.getElementById("password-strength");

    //Checking password strength
    passInput.addEventListener("input", function () {
      const pass = passInput.value;
      const result = zxcvbn(pass);

      //Update password feedback
      passStrengthField.innerHTML = ""; //Clear previous feedback

      if (result.score === 0) {
        passStrengthField.innerHTML =
          '<span style= "color:red;">Too Weak!!</span>';
      } else if (result.score === 1) {
        passStrengthField.innerHTML =
          '<span style= "color:orange;">Weak</span>';
      } else if (result.score === 2) {
        passStrengthField.innerHTML =
          '<span style= "color:yellow;">Medium</span>';
      } else if (result.score === 3) {
        passStrengthField.innerHTML =
          '<span style= "color:green;">Strong!</span>';
      } else if (result.score === 4) {
        passStrengthField.innerHTML =
          '<span style= "color:darkgreen;">Very Strong!!</span>';
      }
    });
  });
</script>
{% endblock %}