{% extends "base/base.html" %}

{% comment "" %}
{% load crispy_forms_tags %}
{% endcomment %}


{% block navbar %}
{% include 'homepage/magic-nav.html' %}
{% endblock %}

{% block content %}
<div class="row g-3 text-white">
    {% if user.is_superuser %}
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8">
                            <h2>User's <b>Management</b></h2>
                        </div>
                        <div class="col-sm-4">
                            <a href="#" class="btn btn-success"><i class="fas fa-user-plus fa-lg fa-fw"></i> <span>Add New User</span></a>
                            <a href="#" class="btn btn-success"><i class="fas fa-file-alt fa-lg fa-fw"></i> <span>Export to Excel</span></a>						
                        </div>
                    </div>
                </div>
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>						
                            <th>Email</th>
                            <th>Birthdate</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Date Joined</th>
                            <th>Role</th>
                            <th>Active</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if users %}
                        {% for user in users %}
                        <tr><!--Using this convention to get access to users_age list with users and age information-->
                            <td>{{user.user.id}}</td>
                            <td>{{user.user.username}}</td>
                            <td>{{user.user.email}}</td>                        
                            <td>{{user.user.birthdate}}</td>
                            <td>{{user.age}}</td>
                            <td>{{user.user.gender}}</td>
                            <td>{{user.user.date_joined}}</td>
                            <td>{{user.user.user_type.capitalize}}</td>
                            <td><span class="status text-success">&bull;</span>{{user.user.is_active}}</td>
                            <td>
                                <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i class="fas fa-user-edit fa-lg fa-fw text-success"></i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="fas fa-user-times fa-lg fa-fw text-success"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <p class="text-warning">No users registered in system!!!</p>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %} 
</div>
{% endblock content %}

{% block script %}
<script>
    document.getElementById('users').classList.add('active');
</script>
{% endblock script %}