body {
    overflow-y: scroll; /* Add the ability to scroll */
    -ms-overflow-style: none;  /* Hiding the scrollbar on  IE and Edge */
    scrollbar-width: none;  /*Hiding the scrollbar on Firefox */
}   

body::-webkit-scrollbar{
    display: none; /*Hiding the scrollbar on Chrome*/
}

/*Personal styles for error classes not supported by bootstrap*/
/*
.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
*/