
    .carousel-indicators {
        margin-left: 200px;
    }

    .carousel-item img{
        height: 64dvh;
        width: 64dvh;
    }
    
    .carousel-item {
        min-height: 300px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .card-columns .card {
        display: inline-block;
        width: 100%;
    }

    .card-img-top {
        width: 100%;
        height: 300px !important;
        /*Same size for all images despite its resolution border-top-left-radius: calc(0.25 rem - 1 px);*/
        border-top-right-radius: calc(0.25rem - 1px);
    }
    