{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block navbar %}
{% include 'homepage/magic-nav.html' %}
{% endblock %}

{% block content %}
<div class="row g-3 text-white">
    <div class="container-xl">
        <div class="row">
                        <div class="col-sm-5">
                            <h2>Consultations <b>Management</b></h2>
                        </div>
                        <div class="col-sm-3">
                            <!-- Search Form -->
                            <form class="d-flex" method="get" action="{% url 'consultations_admin'%}">
                                <input class="form-control me-2"  type="text" name="search_query" placeholder="Search by name" aria-label="Search" value="{{ search_query }}">
                                <button class="btn btn-outline-success" type="submit"> <i class="fas fa-search fa-lg fa-fw" data-toggle="tooltip" title="Search"></i></button>
                                
                                <!-- Include other filters as hidden inputs to keep state during search -->
                                <!-- Retain valid consultation type selection -->
                                {% if consultation_type %}
                                    <input type="hidden" name="consultation_type" value="{{ consultation_type }}">
                                {% endif %}
                            </form>
                        </div>
                        <div class="col-sm-2">
                            <form class="d-flex" method="get" action="">
                                <select class="form-select" name="consultation_type" onchange="this.form.submit()">
                                    <option value="">All Consultations</option>
                                    <option value="common" {% if consultation_type == 'common' %}selected{% endif %}>Common</option>
                                    <option value="urgency" {% if consultation_type == 'urgency' %}selected{% endif %}>Urgency</option>
                                </select>
                            </form>
                        </div>
                        <div class="col-sm-2 justify-content-end">
                            <!-- Button for mass patient consultations delete, initially hidden -->
                            <button id="delete-button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteMultiplePCModal" onclick="loadDeleteMultiplePCConfirm()"  style="display: none;">
                                <i class="fas fa-user-times fa-lg fa-fw" data-toggle="tooltip" title="Delete Selected Consultations"></i>
                            </button>
                            <a href="#" class="btn btn-success"><i class="fas fa-file-alt fa-lg fa-fw" data-toggle="tooltip" title="Export to Excel"></i></a>
                        </div>
        </div>
        <div class="row py-3">
                    <div class="col-md-4">
                        <h4>Select All</h4>
                        <!-- Checkbox parent -->
                        <span class="custom-checkbox">
                            <input type="checkbox" id="selectAll" data-toggle="tooltip" title="selectAll">
                        </span>
                    </div>
                    <div class="col-md-4 fw-bold">
                        <h4>Sort by Doctor name</h4>
                        {% if sort_by == 'attended_by' and order == 'asc' %}
                            <a class="text-success text-decoration-none"  href="?sort=attended_by&order=desc&search={{ search_query }}{% if consultation_type %}&consultation_type={{ consultation_type }}{% endif %}">Attended by ▲</a>
                        {% elif sort_by == 'attended_by' and order == 'desc' %}
                            <a class="text-success text-decoration-none" href="?sort=attended_by&order=asc&search={{ search_query }}{% if consultation_type %}&consultation_type={{ consultation_type }}{% endif %}">Attended by ▼</a>
                        {% else %}
                            <a class="text-success text-decoration-none" href="?sort=attended_by&order=asc&search={{ search_query }}{% if consultation_type %}&consultation_type={{ consultation_type }}{% endif %}">Attended by</a>
                        {% endif %}
                    </div>
                    <div class="col-md-4 fw-bold">
                        <h4>Sort by consultation date</h4>
                        {% if sort_by == 'consultation_date' and order == 'asc' %}
                            <a class="text-success text-decoration-none" href="?sort=consultation_date&order=desc&search={{ search_query }}{% if consultation_type %}&consultation_type={{ consultation_type }}{% endif %}">On ▲</a>
                        {% elif sort_by == 'consultation_date' and order == 'desc' %}
                            <a class="text-success text-decoration-none" href="?sort=consultation_date&order=asc&search={{ search_query }}{% if consultation_type %}&consultation_type={{ consultation_type }}{% endif %}">On ▼</a>
                        {% else %}
                            <a class="text-success text-decoration-none" href="?sort=consultation_date&order=asc&search={{ search_query }}{% if consultation_type %}&consultation_type={{ consultation_type }}{% endif %}">On</a>
                        {% endif %}
                    </div>
        </div>
        <!--Card Structure-->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for consultation in patient_consultations %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body bg-dark d-flex align-items-center">
                        <!-- Checkbox childs -->
                        <span class="custom-checkbox position-absolute top-0 start-0">
                                <input type="checkbox" class="pc-checkbox" value="{{ consultation.id }}">
                         </span>
                            <div>
                            <img src="{% if consultation.patient.user.profile_picture %}{{ consultation.patient.user.profile_picture.url }}{% else %}{% static 'img/default_profile_picture.png' %}{% endif %}" 
                            alt="{{ consultation.patient.user.get_full_name }} profile picture" 
                            class="rounded-circle me-3" style="width: 60px; height: 60px; object-fit: cover;">
                                <div class="d-inline-flex p-2 gap-1">
                                    <a class="details" data-bs-toggle="modal" data-bs-target="#detailsPCModal" onclick="loadPCDetails('{{consultation.id}}')"><i class="fas fa-eye fa-md fa-fw text-info" data-toggle="tooltip" title="Details"></i></a>
                                    <a class="delete"  data-bs-toggle="modal" data-bs-target="#deletePCModal" onclick="loadDeletePCConfirm('{{consultation.id}}')"><i class="fas fa-user-times fa-md fa-fw text-danger" data-toggle="tooltip" title="Delete"></i></a>    
                                </div>    
                             </div>
                        <div class="text-white">
                            <h5 class="card-title">{{ consultation.patient.user.get_full_name }}</h5>
                            <p class="card-text mb-1"><span class="text-info fw-bold">Date: </span><span class="text-white">{{ consultation.consultation.consultation_date }}</span></p>
                            <p class="card-text mb-1"><span class="text-info fw-bold">Type: </span><span class="text-white">{{ consultation.consultation_type.capitalize }}</span></p>
                            <p class="card-text mb-1"><span class="text-info fw-bold">Attended by: </span> <span class="text-white">{{ consultation.consultation.doctor.user.get_full_name }}</span></p>
                        </div>
                    </div>
                </div>
            </div>
             {% empty %}
            <div class="row md-12">
                <span class="text-center text-danger bg-warning"><strong>No consultations registered in system!!!</strong></span>
            </div>
            {% endfor %}
        </div>     
    </div>
</div>

<!--Pagination-->
{% if is_paginated %}
    <div class="text-center py-2">
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-warning mb-4" href="?page=1">First</a>
            <a  class="btn btn-outline-warning mb-4" href="?page = {{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.per_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-warning mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a  class="btn btn-warning mb-4" href="?page= {{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
            
        {% if page_obj.has_next %}
            <a class="btn btn-outline-warning mb-4" href="?page= {{page_obj.next_page_number}}">Next</a>
            <a class="btn btn-outline-warning mb-4" href="?page= {{page_obj.paginator.num_pages}}">Last</a>
        {% endif %}
    </div>
{% endif %}

 <!-- Details Patient Consultations Modal HTML -->
 <div id="detailsPCModal" class="modal fade" tabindex="-1" aria-labelledby="detailsPCModal">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h4 class="modal-title text-success">Consultation Details</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            {% block detailsPCModal %}
            {% include 'homepage/details_ptconsultation.html' %}
            {% endblock %}
        </div>
    </div>
</div>

<!-- Delete Patient Consultation Modal confirmation HTML -->
<div id="deletePCModal" class="modal fade" tabindex="-1" aria-labelledby="deletePCModal">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h4 class="modal-title text-warning">Confirm Consultation removal</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            {% block deletePCModal %}
            {% include 'homepage/delete_ptconsultation.html' %}
            {% endblock %}
        </div>
    </div>
</div>

<!--Massive Patient Consultation removal Modal confirmation HTML -->
<div class="modal fade" id="deleteMultiplePCModal" tabindex="-1" aria-labelledby="deleteMPCModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content bg-dark">
        <div class="modal-header">
            <h4 class="modal-title text-warning" id="deleteMPCModalLabel">Confirm Consultations Mass Removal</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        {% block deleteMultiplePCModal %}
        {% include 'homepage/delete_ptconsultations.html' %}
        {% endblock %}
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script>
    /*Used for load patient consultation details inside modal*/
    function loadPCDetails(pt_consultationId) {
        $.ajax({
            url: '/consultations/admin/'+ pt_consultationId +'/details/',
            type: 'GET',
            success: function(data) {
                $('#pcDetails').html(data);  // Insert user details into editUserModal
            },
            error: function() {
                alert('Error loading user details');
            }
        });
    }

    // Function to load user delete confirmation into the modal
    function loadDeletePCConfirm(pt_consultationId) {
        if (!pt_consultationId) {
            console.error("Error: Consultation ID is missing.");
            return;
        }
        $.ajax({
            url: '/consultations/admin/' + pt_consultationId + '/delete/',
            type: 'GET',
            success: function(data) {
                //console.log(data);  // Debugging line
                $('#deletePCConfirm').html(data);  // Insert the confirmation message into deletePCModal
            },
            error: function() {
                alert('Error loading delete confirmation');
            }
        });
    }

    // Function to gather selected consultations IDs and load confirmation modal
    function loadDeleteMultiplePCConfirm(){
        let selectedPCIDs = [];
        // Gather chequed checkboxes with class 'pc-checkbox' for selecting users
        $('input.pc-checkbox:checked').each(function(){
            selectedPCIDs.push($(this).val());
        })

        if(selectedPCIDs.length>0){
            $.ajax({
                url:'/consultations/admin/delete-consultations/confirm',  // URL for the confirmation view
                type: 'GET',
                data:{pc_ids:selectedPCIDs.join(',')},  // Send selected user IDs
                success: function(data){
                    $('#deleteMultiplePCConfirm').html(data)  // Insert confirmation message into the modal
                },
                error: function(){
                    alert('Error loading delete confirmation.');
                }
            });
        } else {
            alert('Please, select at least one consultation to delete.')
        }
    }
</script>
<script>
    /*Mass user removal behaviour*/
    $(document).ready(function () {
        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();

        const selectAllCheckBox = $("#selectAll");
        const deleteBtn = $('#delete-button');
        let checkbox_childs = $('.pc-checkbox');

        // Function to toggle delete button visibility
        $.fn.toggleDeleteButton = function(){
            let checkedCount = $('.pc-checkbox:checked').length;
            deleteBtn.toggle(checkedCount>0)
        }

        // Select/Deselect child checkboxes inside the table
        selectAllCheckBox.click(function () {
           checkbox_childs.prop('checked', this.checked);
           $.fn.toggleDeleteButton();
        });

        // If one of the child checkboxes get deselected, deselect the parent as well 
        checkbox_childs.change(function () {
            if(!this.checked)
                selectAllCheckBox.prop('checked',false);
            $.fn.toggleDeleteButton();
        });
    });

    document.getElementById('consultations').classList.add('active');
</script>
{% endblock script %}