{% load static %}
<nav class="navbar bg-dark navbar-dark navbar-expand-md">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse justify-content-start" id="navbarSupportedContent">
        <div class="navigation nav-item">
            <ul>
                <!--Home-->
                <li class="list" id="home">
                    <a href="{% url 'home' %}">
                        <span class="icon">
                            <i class="fas fa-clinic-medical fa-lg fa-fw"></i>
                        </span>
                        <span class="text">Lobby</span>
                    </a>
                </li>

                <!--Handling authorization with Django-->
                {% if user.is_authenticated %}
                    {% if user.is_doctor or user.is_patient %}
                        <li class="list" id="consultations">
                            <a href="{% url 'consultations' %}"><!--Go to consultations URL-->
                                <span class="icon">
                                    <i class="fas fa-hand-holding-medical fa-lg fa-fw" aria-hidden="true"></i>
                                </span>
                                <span class="text">Consultations</span>
                            </a>
                        </li>
                        <li class="list " id="profile">
                            <a href="{% url 'profile' %}"><!--Go to Profile URL-->
                                <span class="icon">
                                    <i class="fa fa-user-circle-o fa-lg fa-fw" aria-hidden="true"></i>
                                </span>
                                <span class="text">Profile</span>
                            </a>
                        </li>
                    {% elif user.is_superuser %}
                    <li class="list" id="consultations">
                        <a href="{% url 'consultations' %}"><!--Go to Consultations Management URL-->
                            <span class="icon">
                                <i class="fas fa-hand-holding-medical fa-lg fa-fw" aria-hidden="true"></i>
                            </span>
                            <span class="text">Consultations</span>
                        </a>
                    </li>
                    <li class="list" id="users">
                            <a href="{% url 'users' %}"><!--Go to Users Management URL-->
                                <span class="icon">
                                    <i class="fas fa-users fa-lg fa-fw" aria-hidden="true"></i>
                                </span>
                                <span class="text">Users</span>
                            </a>
                        </li>
                    {% endif %}
                     <!--Updated since Django doesn't allow this operation
                    be handled by a GET Method (Security Issues)-->
                    <li class="list " id="logout">
                        <a>
                            <span class="icon">
                                <i class="fa fa-sign-out fa-lg fa-fw" aria-hidden="true"></i>
                            </span>
                            <span id="logout-span" role="button" class="text">Logout</span>
                        </a>
                    </li>
                     <!--Using a Javascript magic trick to handle Logout submission without affect the visuals-->
                     <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;"><!--Go to Logout URL-->
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                    <!--Relocate the script to avoid JS console issues with non authenticated users-->
                    <script>
                        //Submit logout form when closing session
                        document.getElementById('logout-span').addEventListener('click', function() {
                            document.getElementById('logout-form').submit();
                        });
                    </script>
                {% endif %}
            
                {% if not user.is_authenticated %}
                    <li class="list " id="login">
                            <a href="{% url 'login' %}"><!--Go to Login URL-->
                                <span class="icon">
                                    <i class="fa fa-sign-in fa-lg fa-fw" aria-hidden="true"></i>
                                </span>
                                <span class="text">Login</span>
                            </a>
                    </li>
                    <li class="list" id="register">
                            <!--Go to registration view-->
                            <a href="{% url 'register' %}"><!--Go to Register URL-->
                                <span class="icon">
                                    <i class="fa fa-pencil fa-lg fa-fw" aria-hidden="true"></i>
                                </span>
                                <span class="text">Sign-Up</span>
                            </a>
                    </li>
                {% endif %}
                <div class="indicador"></div>
                <div class="indicador1" id="aa"></div>
            </ul>
        </div>
    </div>
</nav>