{% load static %}

<div class="container text-right" id="header"> 
    <div id="welcome-message" class="welcomeM">
        {% if  user.is_authenticated and user.is_patient %}
        <h2>Welcome to Angelical Saviours 😊</h2>
        <p>We offer common consultations and urgency consultations to assist you in your needs 🥰</p>
        {% elif user.is_authenticated and user.is_doctor %}
        <h2>Welcome to Angelical Saviours Doctor: {{user.username.capitalize}} 😊</h2>
        <p>Check your latest consultations or your profile to stay up to date 😷</p>
        {% elif user.is_authenticated and user.is_superuser %}
        <h2>Welcome to Angelical Saviours Admin 😊</h2>
        <p>Remember to manage the system wisely!!✌️</p>
        {% else %}
        <h2>Welcome to Angelical Saviours🙏</h2>
        {% endif %}
     </div>
     <script>
        document.addEventListener('DOMContentLoaded', function() {
            const welcomeMessage = document.getElementById('welcome-message');
            setTimeout(function() {
                welcomeMessage.style.animation = 'fadeOut 1s ease-in-out';
                setTimeout(function() {
                    welcomeMessage.style.display = 'none';
                }, 450); //Closing display property before animation process end (450 ms)
            }, 5000); // Hide after 5 seconds
        });
    </script>
</div>
<!--Custom styles for welcome message-->
<style>
    .welcomeM {
        position: fixed;
        top: 20px;
        right: 20px;
        padding: 10px 20px;
        background-color: #146c43;
        color: #fff;
        border-radius: 5px;
        animation: fadeIn 1s ease-in-out;
        z-index: 9999;
    }

    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
</style>
